<<<<<<< HEAD
.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
=======
  .directory-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
>>>>>>> refs/remotes/origin/main
